.app {
  width: max-content;
  padding: 4em;
  color: palevioletred;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6d7c0, #ffffe4);
  box-shadow: 20px 20px 60px #d9cbb5, -20px -20px 60px #fffff5;
}
h1 {
  font-size: 4em;
  font-weight: 700;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 4em;
  color: #607196;
  font-weight: 700;
}
p {
  color: #607196;
}
